<div class="container">
  <div class="row well">
    <div class="col-md-12">
      <%= form_for(@idea) do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name %>
        <%= f.label :description %>
        <%= f.text_field :description %>
        <%= f.label :category %>
        <%= f.collection_select(:category_id, Category.all, :id, :name) %>
        <%= f.label :url_list %>
        <%= f.collection_select(:url_list, Image.all, :url, :url) %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>