<h2>Category Name: <%= @category.name %></h2>

<h3>Total: <%= pluralize(@category.ideas.count, 'idea') %></h3>

<ol>
  <% @category.ideas.each do |idea| %>
    <li><strong>Username: </strong><%= idea.user.username %><br><strong>Idea:</strong> <%= idea.name %><br><strong>Description:</strong><%= idea.description %> </li><br>
  <% end %>
</ol>

