<div class="container">
  <div class="row well">
    <div class="col-md-12">
      <h2>Category Name: <%= @cat.name %></h2>
    </div>
  </div>
</div>

<div class="container">
  <div class="row well">
    <div class="col-md-12">
      <ol class= "list-group">
        <ol>
          <% @category.each do |cat| %>
            <li class= "list-group-item"><strong>Idea Name:</strong> <%= link_to cat.name, ideas_path  %> | <%= link_to "Edit", edit_idea_path(cat) %> | <%= link_to "Delete", idea_path(cat), method: :delete, data: {confirm: "Are you sure you want to delete #{cat.name}"} %>
          <% end %>
        </ol>
      </div>
    </div>
  </div>

<div class="container">
  <div class="row well">
    <div class="col-md-12">
      <%= link_to 'Return to Categories', categories_path %> | <%= link_to 'Add New Idea', new_idea_path %>
    </div>
  </div>
</div>