<!DOCTYPE html>
<html>
<head>
  <title>IdeaBox</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <% if current_user%>
        <h6>Welcome, <%= current_user.username %> | <%= link_to "Logout", logout_path, method: :delete %></h6>
      <% end %>
      </a>
    </div>
  </div>
</nav>


<%= yield %>

</body>
</html>
